
.colorStyle{
    background-color: #2270A8;
}

*{
    overflow-x: hidden;
}

.caixaSection{
    margin-top: 30px;
}


/*--------Header ------*/
.container{
    background-color: #AFE2FF;
    max-width: 100%;
}
.caixa{
    -webkit-clip-path: circle(80% at 80% 80%);
    clip-path: circle(90% at 20% 10%);
    background-color: #DB3661;
   
}
.textHeader{
    padding-bottom: 20px;
    color: #FFFBFB;
    font-size: 74px;
}


/*------ SectionOne -----*/

.textSection{
    font-size: large;
}

.bt-section{
    background-color: #DB3661;
}

.imgS{
    padding-left: 120px;
    width: 500px;
}

/*---------------- Form Section ------------*/

.inputForm{
    padding-bottom: 25px;
}


.form{
    justify-content: center;
    background-color: #DB3661;
    position: relative;
}


.colorInput{
    background-color: #2270A8;
    color: #ffff;
}

.buttonCadastro{
    padding-top: 30px;
    padding-left: 90px;
}

h2{
    color: #ffff;
    margin-bottom: 30px;
}

/*------------ Footer ---------- */

.containerFooter{
   color: #fff;
   margin-top: 100px;
   padding: 16px;

}




